<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style.css" rel="stylesheet" type="text/css">
  <title>Pride 2023</title>
</head>

<body>
  <main>
	<div id="vue">
		<fieldset class="vertical-flex">
			<legend>Actions</legend>
			<div class="horizontal-flex">
				<button @click="saveToLocalStorage()">Save</button>
				<button @click="resetAll()">Delete save (do that if everything is bugged)</button>
			</div>
			<div>Last save: {{ lastSave?.toLocaleString() ?? "N/A" }}</div>
		</fieldset>

		<fieldset class="vertical-flex">
			<legend>Colors</legend>

			<fieldset class="horizontal-flex">
				<legend>Presets</legend>
				<select v-model="selectedPreset">
					<option v-for="(preset, name) in presets" :key="name">{{ name }}</option>
				</select>
				<button @click="applyPreset(selectedPreset)">Apply preset</button>
				<button @click="appendPreset(selectedPreset)">Append preset</button>
			</fieldset>
			<div class="horizontal-flex">
				<button @click="addNewColor()">Add color</button>
				<button @click="randomizeColors()">Randomize all colors</button>
			</div>
			<div class="vertical-flex">
				<div class="horizontal-flex" v-for="(color, index) in config.colors">
					<span>Color:</span>
					<input type="text" v-model="color.value" />
					<input type="color" v-model="color.value" />
					<span>Weight:</span>
					<input type="number" min="1" v-model="color.weight" />
					<button :disabled="colorCount == 1" @click="config.colors.splice(index, 1)">Remove</button>
					<button @click="addNewColor(index + 1)">Add after</button>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>Background</legend>

			<div class="horizontal-flex">
				<label>Draw stripes:</label>
				<input type="checkbox" v-model="config.background.draw" />
				<label>Clear background:</label>
				<input type="checkbox" v-model="config.background.clearBackground" />
				<label>Background color:</label>
				<input type="text" v-model="config.background.clearColor" />
				<input type="color" v-model="config.background.clearColor" />
			</div>
			<div class="horizontal-flex">
				<label>Horizontal Stripes:</label>
				<input type="checkbox" v-model="config.background.horizontal" />
			</div>
		</fieldset>

		<fieldset class="vertical-flex">
			<legend>Bubbles</legend>
			<button @click="doRenderCall(renderCalls.resetBubbles)">Reset bubbles</button>
			<div class="horizontal-flex">
				<label>Bubbles count:</label>
				<input type="number" min="0" step="10" v-model="config.bubbles.maxCount" />
				<label>Has border:</label>
				<input type="checkbox" v-model="config.bubbles.border" />
			</div>
			<div class="horizontal-flex">
				<label>Min size:</label>
				<input type="number" min="1" :max="config.bubbles.maxSize" v-model="config.bubbles.minSize" />
				<label>Max size:</label>
				<input type="number" :min="config.bubbles.minSize" v-model="config.bubbles.maxSize" />
				<label>Roundness:</label>
				<input type="number" min="0" :max="config.bubbles.maxSize" v-model="config.bubbles.roundness" />
			</div>
			<div class="horizontal-flex">
				<label>Min speed:</label>
				<input type="number" min="0.1" :max="config.bubbles.maxSpeed" step="0.1" v-model="config.bubbles.minSpeed" />
				<label>Max speed:</label>
				<input type="number" :min="config.bubbles.minSpeed" step="0.1" v-model="config.bubbles.maxSpeed" />
			</div>
		</fieldset>

		<fieldset class="vertical-flex">
			<legend>Import / Export</legend>
			<div class="horizontal-flex">
				<button @click="doExport()">Export</button>
				<button @click="doImport()">Import</button>
			</div>
			<textarea :rows="ioData == '' ? 5 : 30" v-model="ioData"></textarea>
		</fieldset>
	</div>
	<div id="render"></div>
  </main>
  <script src="../p5.min.js"></script>
  <script src="vue.global.js"></script>
  <script src="sketch.js"></script>
</body>

</html>