main
{
	display: flex;
	width: 100%;
	gap: 1em;
	justify-content: center;
}

.horizontal-flex
{
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.vertical-flex
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.3em;
}

textarea
{
	resize: vertical;
}